<form [formGroup]="scoreForm" (ngSubmit)="addScore()">
    <div>
        <h1>Add Score</h1>
    </div>
    <div class="form-group row">
        <label for="inputDate" class="col-sm-2 col-form-label">Select Game</label>
        <div class="col-sm-2">
            <!-- <input type="date" class="form-control" id="inputDate" placeholder="Date" formControlName="gameDate">  -->
            <select class="form-control">
                <option>1</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPlayer1" class="col-sm-2 col-form-label">Player 1</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="inputPlayer1" placeholder="Player 1" formControlName="player1">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPlayer2" class="col-sm-2 col-form-label">Player 2</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="inputPlayer2" placeholder="Player 2" formControlName="player1">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary mb-2">Add Score</button>
        </div>
    </div>
</form>